/* 公共样式 */
html,
body {
    height: 100%;
    color: #333333;
    background-color: #fff;
}

* {
    /* 先不管，后面解释 */
    /*  触碰轮播图-> 就警告
        红色警告->来源于Chrome浏览器 */
    /* touch-action: pan-y; */
    touch-action:none;

    box-sizing: border-box;
}

#root,.App {
    height: 100%;
}

p {
    margin: 0;
}